/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Akti;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Akti;
  src: url(../fonts/AktivGroteskCorp-Regular.ttf);
}
body {
  overflow-x: hidden;
}

header {
  width: 97%;
  position: absolute;
  height: 10vh;
}
header .navbar {
  z-index: 2;
  margin: -2% -5%;
}
header .navbar img {
  width: 50%;
}
header .navbar .nav {
  display: none;
}
header .navbar .nav li a {
  color: #262626;
  font-size: 25px;
}
header .hamburgers {
  z-index: 3;
  position: absolute;
}
header .hamburgers #menu__toggle {
  opacity: 0;
}
header .hamburgers #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
header .hamburgers #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
header .hamburgers #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
header .hamburgers #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
header .hamburgers .menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 11px;
  left: 87%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}
header .hamburgers .menu__btn > span,
header .hamburgers .menu__btn > span::before,
header .hamburgers .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
header .hamburgers .menu__btn > span::before {
  content: "";
  top: -8px;
}
header .hamburgers .menu__btn > span::after {
  content: "";
  top: 8px;
}
header .hamburgers .menu__box {
  text-align: center;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #e8dfce;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
header .hamburgers .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
header .hamburgers .menu__item:hover {
  background-color: #cfd8dc;
}

.banner {
  height: 70vh;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.banner .banner_image img {
  width: 100%;
  height: 52vh;
}
.banner .banner_image .banner_text {
  position: absolute;
  top: 17%;
  left: 16%;
  z-index: 2;
}
.banner .banner_image .banner_text h1 {
  font-size: 22px;
}
.banner .banner_image .banner_text h1 span {
  display: block;
}
.banner .overlay {
  position: absolute;
  top: 0%;
  z-index: 1;
}
.banner .overlay img {
  width: 100%;
  height: 52vh;
}
.banner .butterfly_image {
  position: absolute;
  top: 36%;
  left: 29%;
  z-index: 2;
  width: 56%;
}
.banner .butterfly_image img {
  width: 100%;
}

.about_us .col-lg-6 {
  position: relative;
}
.about_us .col-lg-6 .allmytext {
  text-align: center;
  padding-left: 0%;
}
.about_us .col-lg-6 .allmytext h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.about_us .col-lg-6 .allmytext .mytext h5 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
}
.about_us .col-lg-6 .allmytext .mytext p {
  font-size: 13px;
  line-height: 1.8;
  padding-bottom: 60px;
}
.about_us .col-lg-6 .allmytext .mytext p span {
  display: block;
}
.about_us .col-lg-6 img {
  position: absolute;
  margin-top: 4%;
  width: 90%;
  height: 90%;
  left: 9%;
}

.our_values {
  background-color: #e8dfce;
  height: 90vh;
}
.our_values h2 {
  padding-top: 14%;
  font-size: 35px;
  padding-left: 23%;
  margin-bottom: 14%;
  font-weight: 350;
}
.our_values p {
  font-size: 13px;
  padding: 0 5px;
  text-align: center;
}
.our_values .allcards {
  background-color: #e8dfce;
  margin-top: 5%;
}
.our_values .allcards .col-lg-3 .card {
  background-color: #e8dfce;
  border: none;
}
.our_values .allcards .col-lg-3 .card .img-top {
  margin: 0 auto;
}
.our_values .allcards .col-lg-3 .card .img-top img {
  width: 100%;
}
.our_values .allcards .col-lg-3 .card .card-body {
  text-align: center;
}
.our_values .allcards .col-lg-3 .card .card-body h4 {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: 350;
}
.our_values .allcards .col-lg-3 .card .card-body p {
  font-size: 13px;
}
.our_values .allcards .col-lg-3 .card .card-body p span {
  display: inline-table;
}
.our_values .allcards .Honesty,
.our_values .allcards .Value {
  margin-top: 10%;
}

.Debut_team {
  margin: 0 7%;
  padding-top: 259%;
  position: relative;
  text-align: center;
}
.Debut_team .mytext1 {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
  margin-top: 8%;
}
.Debut_team .mytext1 h2 {
  font-size: 45px;
  margin-bottom: 14%;
  margin-left: -4%;
}
.Debut_team .mytext1 button {
  position: absolute;
  background-color: #262626;
  color: #e8dfce;
  height: 50px;
  width: 170px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  top: 100%;
  left: 17%;
  margin-bottom: 30px;
}
.Debut_team p {
  margin-bottom: 5%;
  font-size: 13px;
}
.Debut_team .row .col-lg-4 .card {
  border: none;
  margin-bottom: 10%;
}
.Debut_team .row .col-lg-4 .card h6 {
  font-size: 20px;
  line-height: 2.1;
}
.Debut_team .row .col-lg-4 .card p {
  line-height: 1.4;
  padding-bottom: 10px;
}
.Debut_team .row .col-lg-4 .card img {
  width: 103%;
  height: 249px;
}
.Debut_team .row .col-lg-4 .card .images {
  margin-top: 43px;
}
.Debut_team .row .col-lg-4 .card .img1 {
  height: 218px;
}

.portfolio {
  text-align: center;
}
.portfolio h2 {
  font-size: 45px;
  padding-top: 20%;
  line-height: 3;
}
.portfolio p {
  font-size: 16px;
}
.portfolio .row .col-lg-6 {
  position: relative;
  height: 413px;
}
.portfolio .row .col-lg-6 .mytext2 {
  padding-left: 0%;
  margin-top: 13%;
}
.portfolio .row .col-lg-6 .mytext2 h4 {
  font-size: 30px;
  padding-bottom: 15px;
}
.portfolio .row .col-lg-6 .mytext2 p {
  font-size: 14px;
  line-height: 2;
  padding-bottom: 20px;
}
.portfolio .row .col-lg-6 .mytext2 p span {
  display: block;
}
.portfolio .row .col-lg-6 img {
  position: absolute;
  right: -10%;
  width: 120%;
  height: 451px;
  top: -63%;
}

.get_in_touch {
  height: 40vh;
  margin-top: -75%;
  position: relative;
}
.get_in_touch .row .mytext {
  padding-left: 5%;
  position: absolute;
  top: 40%;
}
.get_in_touch .row .mytext h2 {
  font-size: 35px;
  margin-left: 10%;
  margin-bottom: 20px;
}
.get_in_touch .row .mytext p {
  font-size: 13px;
  line-height: 2;
}
.get_in_touch .row .mytext p span {
  display: block;
}
.get_in_touch .row .mytext button {
  margin-top: 10%;
  background-color: #262626;
  color: #e8dfce;
  height: 50px;
  width: 170px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 16%;
  margin-bottom: 30px;
}
.get_in_touch .row .image2 {
  position: absolute;
  top: 10%;
  height: 90%;
}
.get_in_touch .row img {
  display: none;
}

.footer {
  background-color: #000;
  height: auto;
  margin-top: 45%;
  width: 100%;
}
.footer .first_col img {
  margin-top: 12%;
  margin-left: 30%;
  width: 46%;
}
.footer .first_col p {
  margin-left: 15%;
  line-height: 2;
  color: #e8dfce;
  font-size: 13px;
}
.footer .first_col p span {
  display: block;
}
.footer .first_col .allcircle {
  display: flex;
  margin-left: 13%;
  margin-top: 9%;
}
.footer .first_col .allcircle .circle {
  margin-left: 5%;
  width: 40px;
  height: 40px;
  background-color: #e8dfce;
  border-radius: 50%;
  position: relative;
}
.footer .first_col .allcircle .circle i {
  position: absolute;
  left: 17%;
  top: 18%;
  color: #000;
  font-size: 25px;
}
.footer .first_col .allcircle .circle .face {
  position: absolute;
  left: 31%;
  top: 18%;
}
.footer .col-lg-4 h3 {
  margin-top: 8%;
  margin-left: 13%;
  color: #e8dfce;
  font-size: 35px;
}
.footer .col-lg-4 .div {
  display: flex;
  margin-left: 13%;
  margin-bottom: 10%;
  margin-top: 10%;
}
.footer .col-lg-4 .div i {
  font-size: 25px;
  color: #e8dfce;
}
.footer .col-lg-4 .div p {
  margin-left: 5%;
  color: #e8dfce;
  font-size: 20px;
}
.footer .col-lg-4 .div p span {
  display: block;
  line-height: 2;
}
.footer .col-lg-4 ul {
  margin-left: 17%;
  margin-top: 5%;
}
.footer .col-lg-4 ul li {
  color: #e8dfce;
  font-size: 20px;
  line-height: 2;
}
.footer .col-lg-4 ul li span i {
  font-size: 20px;
  margin-right: 10px;
}
.footer .line {
  width: 85%;
  height: 1px;
  background-color: #e8dfce;
  margin-top: 6%;
  margin-left: 6%;
  margin-bottom: 7%;
}
.footer .footer-text {
  color: #e8dfce;
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: 2%;
}
.footer .footer-text p {
  padding-bottom: 15%;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    position: absolute;
    height: 10vh;
  }
  header .navbar {
    z-index: 2;
    margin: 0% 3%;
  }
  header .navbar img {
    width: 80%;
  }
  header .navbar .nav {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  header .navbar .nav li a {
    color: #262626;
    font-size: 25px;
  }
  header .hamburgers {
    display: none;
  }

  .banner {
    height: 80vh;
  }
  .banner .banner_image img {
    width: 100%;
  }
  .banner .banner_image .banner_text {
    position: absolute;
    top: 16%;
    left: 23%;
    z-index: 2;
  }
  .banner .banner_image .banner_text h1 {
    font-size: 48px;
  }
  .banner .banner_image .banner_text h1 span {
    display: block;
  }
  .banner .overlay {
    position: absolute;
    top: 0%;
    z-index: 1;
  }
  .banner .overlay img {
    width: 100%;
  }
  .banner .butterfly_image {
    position: absolute;
    top: 36%;
    left: 35%;
    z-index: 2;
  }
  .banner .butterfly_image img {
    width: 75%;
  }

  .about_us {
    width: 98%;
    margin-top: 0%;
  }
  .about_us .col-lg-6 {
    position: relative;
  }
  .about_us .col-lg-6 .allmytext {
    text-align: left;
    padding-left: 13%;
  }
  .about_us .col-lg-6 .allmytext h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .about_us .col-lg-6 .allmytext .mytext h5 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  .about_us .col-lg-6 .allmytext .mytext p {
    font-size: 22px;
    line-height: 1.8;
    padding-bottom: 60px;
  }
  .about_us .col-lg-6 .allmytext .mytext p span {
    display: block;
  }
  .about_us .col-lg-6 img {
    position: absolute;
    margin-top: 37%;
    width: 82%;
    height: 63%;
    left: 13%;
  }

  .our_values {
    background-color: #e8dfce;
    height: 75vh;
  }
  .our_values h2 {
    text-align: center;
    padding-top: 5%;
    font-size: 50px;
    padding-left: 5%;
    margin-bottom: 3%;
    font-weight: 350;
  }
  .our_values p {
    text-align: center;
    padding-left: 5%;
    font-size: 16px;
  }
  .our_values .allcards {
    width: 100%;
    background-color: #e8dfce;
    margin-top: 5%;
  }
  .our_values .allcards .col-lg-3 .card {
    background-color: #e8dfce;
    border: none;
  }
  .our_values .allcards .col-lg-3 .card .img-top {
    margin: 0 auto;
  }
  .our_values .allcards .col-lg-3 .card .img-top img {
    width: 100%;
  }
  .our_values .allcards .col-lg-3 .card .card-body {
    text-align: center;
  }
  .our_values .allcards .col-lg-3 .card .card-body h4 {
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 350;
  }
  .our_values .allcards .col-lg-3 .card .card-body p {
    text-align: center;
    font-size: 16px;
  }
  .our_values .allcards .col-lg-3 .card .card-body p span {
    display: block;
  }
  .our_values .allcards .Honesty,
.our_values .allcards .Value {
    margin-top: 0%;
  }

  .Debut_team {
    text-align: left;
    padding-top: 5%;
    margin: 0 7%;
  }
  .Debut_team .mytext1 {
    display: flex;
    justify-content: space-between;
    margin: 0 7%;
    margin-top: 8%;
  }
  .Debut_team .mytext1 h2 {
    font-size: 45px;
    margin-bottom: 2%;
    margin-left: -8%;
  }
  .Debut_team .mytext1 button {
    background-color: #262626;
    color: #e8dfce;
    height: 50px;
    width: 170px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    top: 16%;
    left: 77%;
  }
  .Debut_team p {
    margin-bottom: 5%;
  }
  .Debut_team .row .col-lg-4 .card {
    border: none;
    margin-bottom: 10%;
  }
  .Debut_team .row .col-lg-4 .card h6 {
    font-size: 20px;
    line-height: 2.1;
  }
  .Debut_team .row .col-lg-4 .card p {
    line-height: 1.4;
  }
  .Debut_team .row .col-lg-4 .card img {
    width: 90%;
  }
  .Debut_team .row .col-lg-4 .card .images {
    margin-top: 55px;
  }
  .Debut_team .row .col-lg-4 .card .img1 {
    height: 140px;
  }

  .portfolio {
    width: 97%;
  }
  .portfolio h2 {
    font-size: 45px;
    padding-top: 3%;
    line-height: 3;
  }
  .portfolio p {
    font-size: 20px;
  }
  .portfolio .row .col-lg-6 {
    position: relative;
  }
  .portfolio .row .col-lg-6 .mytext2 {
    padding-left: 12%;
    margin-top: 24%;
  }
  .portfolio .row .col-lg-6 .mytext2 h4 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  .portfolio .row .col-lg-6 .mytext2 p {
    font-size: 16px;
    line-height: 2;
    padding-bottom: 20px;
  }
  .portfolio .row .col-lg-6 .mytext2 p span {
    display: block;
  }
  .portfolio .row .col-lg-6 img {
    position: absolute;
    right: 1%;
    top: 12%;
  }

  .get_in_touch {
    width: 97%;
    height: 40vh;
    margin-top: 0%;
    position: relative;
  }
  .get_in_touch .row .mytext {
    padding-left: 15%;
    position: absolute;
    top: 29%;
  }
  .get_in_touch .row .mytext h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .get_in_touch .row .mytext p {
    font-size: 17px;
    line-height: 2;
  }
  .get_in_touch .row .mytext p span {
    display: block;
  }
  .get_in_touch .row .mytext button {
    margin-top: 10%;
    background-color: #262626;
    color: #e8dfce;
    height: 50px;
    width: 170px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .get_in_touch .row img {
    display: block;
    width: 197%;
    margin-left: -8%;
  }
  .get_in_touch .row .image2 {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 105%;
    left: 3%;
  }

  .footer {
    background-color: #000;
    height: 50vh;
    margin-top: 10%;
  }
  .footer .first_col img {
    margin-top: 12%;
    margin-left: 21%;
    width: 52%;
  }
  .footer .first_col p {
    margin-left: 9%;
    line-height: 2;
    color: #e8dfce;
  }
  .footer .first_col p span {
    display: block;
  }
  .footer .first_col .allcircle {
    display: flex;
    margin-left: 5%;
    margin-top: 4%;
  }
  .footer .first_col .allcircle .circle {
    margin-left: 5%;
    width: 35px;
    height: 35px;
    background-color: #e8dfce;
    border-radius: 50%;
    position: relative;
  }
  .footer .first_col .allcircle .circle i {
    position: absolute;
    left: 17%;
    top: 18%;
    color: #000;
    font-size: 25px;
  }
  .footer .first_col .allcircle .circle .face {
    position: absolute;
    left: 31%;
    top: 18%;
  }
  .footer .col-lg-4 h3 {
    margin-top: 22%;
    margin-left: 7%;
    color: #e8dfce;
    font-size: 25px;
  }
  .footer .col-lg-4 .div {
    display: flex;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 17%;
  }
  .footer .col-lg-4 .div i {
    font-size: 25px;
    color: #e8dfce;
  }
  .footer .col-lg-4 .div p {
    margin-left: 5%;
    color: #e8dfce;
  }
  .footer .col-lg-4 .div p span {
    display: block;
    line-height: 2;
  }
  .footer .col-lg-4 ul {
    margin-left: 23%;
    margin-top: 5%;
  }
  .footer .col-lg-4 ul li {
    color: #e8dfce;
    font-size: 20px;
    line-height: 2;
  }
  .footer .col-lg-4 ul li span i {
    font-size: 20px;
    margin-right: 10px;
  }
  .footer .line {
    width: 85%;
    height: 1 px;
    background-color: #e8dfce;
    margin-top: 9%;
    margin-left: 6%;
  }
  .footer .footer-text {
    color: #e8dfce;
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
    margin-top: 2%;
  }
  .footer .footer-text p {
    padding-bottom: 0%;
  }
}
@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    position: absolute;
    height: 10vh;
  }
  header .navbar {
    z-index: 2;
    margin: 0% 7%;
  }
  header .navbar .nav {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }
  header .navbar .nav li a {
    color: #262626;
    font-size: 25px;
  }

  .banner {
    height: 80vh;
  }
  .banner .banner_image {
    width: 100%;
  }
  .banner .banner_image img {
    width: 100%;
    height: 80vh;
  }
  .banner .banner_image .banner_text {
    position: absolute;
    top: 22%;
    left: 23%;
    z-index: 2;
  }
  .banner .banner_image .banner_text h1 {
    font-size: 60px;
  }
  .banner .banner_image .banner_text h1 span {
    display: block;
  }
  .banner .overlay {
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 1;
  }
  .banner .overlay img {
    width: 100%;
    height: 80vh;
  }
  .banner .butterfly_image {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 2;
  }
  .banner .butterfly_image img {
    width: 60%;
  }

  .about_us {
    margin-top: 22%;
  }
  .about_us .col-lg-6 {
    position: relative;
  }
  .about_us .col-lg-6 .allmytext {
    padding-left: 13%;
  }
  .about_us .col-lg-6 .allmytext h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .about_us .col-lg-6 .allmytext .mytext h5 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  .about_us .col-lg-6 .allmytext .mytext p {
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 60px;
  }
  .about_us .col-lg-6 .allmytext .mytext p span {
    display: block;
  }
  .about_us .col-lg-6 img {
    position: absolute;
    margin-top: 4%;
    width: 90%;
    height: 90%;
    left: 9%;
  }

  .our_values {
    background-color: #e8dfce;
    height: 90vh;
  }
  .our_values h2 {
    padding-top: 3%;
    font-size: 50px;
    padding-left: 5%;
    margin-bottom: 3%;
    font-weight: 350;
  }
  .our_values p {
    padding-left: 5%;
    font-size: 16px;
  }
  .our_values .allcards {
    background-color: #e8dfce;
    margin-top: 5%;
  }
  .our_values .allcards .col-lg-3 .card {
    background-color: #e8dfce;
    border: none;
  }
  .our_values .allcards .col-lg-3 .card .img-top {
    margin: 0 auto;
  }
  .our_values .allcards .col-lg-3 .card .img-top img {
    width: 100%;
  }
  .our_values .allcards .col-lg-3 .card .card-body {
    text-align: center;
  }
  .our_values .allcards .col-lg-3 .card .card-body h4 {
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 350;
  }
  .our_values .allcards .col-lg-3 .card .card-body p {
    font-size: 16px;
  }
  .our_values .allcards .col-lg-3 .card .card-body p span {
    display: block;
  }
  .our_values .allcards .Honesty,
.our_values .allcards .Value {
    margin-top: 10%;
  }

  .Debut_team {
    margin: 0 7%;
    padding-top: 6%;
  }
  .Debut_team .mytext1 {
    display: flex;
    justify-content: space-between;
    margin: 0 7%;
    margin-top: 8%;
  }
  .Debut_team .mytext1 h2 {
    font-size: 45px;
    margin-bottom: 2%;
    margin-left: -8%;
  }
  .Debut_team .mytext1 button {
    background-color: #262626;
    color: #e8dfce;
    height: 50px;
    top: 21%;
    width: 170px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
  }
  .Debut_team p {
    margin-bottom: 5%;
  }
  .Debut_team .row .col-lg-4 .card {
    border: none;
    margin-bottom: 10%;
  }
  .Debut_team .row .col-lg-4 .card h6 {
    font-size: 20px;
    line-height: 2.1;
  }
  .Debut_team .row .col-lg-4 .card p {
    line-height: 1.4;
  }
  .Debut_team .row .col-lg-4 .card img {
    width: 90%;
  }
  .Debut_team .row .col-lg-4 .card .images {
    margin-top: 43px;
  }
  .Debut_team .row .col-lg-4 .card .img1 {
    height: 218px;
  }

  .portfolio h2 {
    font-size: 45px;
    padding-top: 3%;
    line-height: 3;
  }
  .portfolio p {
    font-size: 20px;
  }
  .portfolio .row .col-lg-6 {
    position: relative;
  }
  .portfolio .row .col-lg-6 .mytext2 {
    padding-left: 17%;
    margin-top: 24%;
  }
  .portfolio .row .col-lg-6 .mytext2 .arrows {
    width: 50px;
    height: 50px;
    background-color: #e8dfce;
  }
  .portfolio .row .col-lg-6 .mytext2 .arrows i {
    font-size: 35px;
    margin-top: 2px;
  }
  .portfolio .row .col-lg-6 .mytext2 .lefts {
    position: absolute;
    left: 149%;
    z-index: 99;
  }
  .portfolio .row .col-lg-6 .mytext2 .rights {
    position: absolute;
    left: 159%;
    z-index: 99;
  }
  .portfolio .row .col-lg-6 .mytext2 h4 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  .portfolio .row .col-lg-6 .mytext2 p {
    font-size: 22px;
    line-height: 2;
    padding-bottom: 20px;
  }
  .portfolio .row .col-lg-6 .mytext2 p span {
    display: block;
  }
  .portfolio .row .col-lg-6 img {
    position: absolute;
    right: 5%;
  }
  .portfolio .row .colimg {
    height: 560px;
    margin-left: 56%;
    margin-top: -43%;
  }

  .get_in_touch {
    margin-top: 15%;
    position: relative;
  }
  .get_in_touch .row .mytext {
    padding-left: 10%;
    position: absolute;
    top: 27%;
  }
  .get_in_touch .row .mytext h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .get_in_touch .row .mytext p {
    font-size: 17px;
    line-height: 2;
  }
  .get_in_touch .row .mytext p span {
    display: block;
  }
  .get_in_touch .row .mytext button {
    margin-top: 10%;
    background-color: #262626;
    color: #e8dfce;
    height: 50px;
    width: 170px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .get_in_touch .row img {
    top: 10%;
    height: 70%;
  }
  .get_in_touch .row .image2 {
    top: 0%;
    left: 7%;
    height: 70%;
  }

  .footer {
    background-color: #000;
    height: 68vh;
    margin-top: 22%;
  }
  .footer .first_col img {
    margin-top: 12%;
    margin-left: 15%;
  }
  .footer .first_col p {
    margin-left: 13%;
    line-height: 2;
    color: #e8dfce;
  }
  .footer .first_col p span {
    display: block;
  }
  .footer .first_col .allcircle {
    display: flex;
    margin-left: 13%;
    margin-top: 4%;
  }
  .footer .first_col .allcircle .circle {
    margin-left: 5%;
    width: 40px;
    height: 40px;
    background-color: #e8dfce;
    border-radius: 50%;
    position: relative;
  }
  .footer .first_col .allcircle .circle i {
    position: absolute;
    left: 17%;
    top: 18%;
    color: #000;
    font-size: 25px;
  }
  .footer .first_col .allcircle .circle .face {
    position: absolute;
    left: 31%;
    top: 18%;
  }
  .footer .col-lg-4 h3 {
    margin-top: 22%;
    margin-left: 22%;
    color: #e8dfce;
    font-size: 35px;
  }
  .footer .col-lg-4 .div {
    display: flex;
    margin-left: 22%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .footer .col-lg-4 .div i {
    font-size: 25px;
    color: #e8dfce;
  }
  .footer .col-lg-4 .div p {
    margin-left: 5%;
    color: #e8dfce;
  }
  .footer .col-lg-4 .div p span {
    display: block;
    line-height: 2;
  }
  .footer .col-lg-4 ul {
    margin-left: 23%;
    margin-top: 5%;
  }
  .footer .col-lg-4 ul li {
    color: #e8dfce;
    font-size: 20px;
    line-height: 2;
  }
  .footer .col-lg-4 ul li span i {
    font-size: 20px;
    margin-right: 10px;
  }
  .footer .line {
    width: 85%;
    height: 1px;
    background-color: #e8dfce;
    margin-top: 3%;
    margin-left: 6%;
  }
  .footer .footer-text {
    color: #e8dfce;
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
    margin-top: -5%;
  }
}/*# sourceMappingURL=style.css.map */